<div class="container">
    <div class="row ">
        <p class="italic text-center">Мальчики</p>
    </div>
    <div class="row border-group ">
        <div class="floating-box">
           <a href="boyHoodyComponent"><img  class="icon hovered-icon " src="./Images/hoody.png" ></a>
        </div>
        <div class="floating-box">
            <a href="boySweatshirtComponent"><img  class="icon hovered-icon " src="./Images/sweatshirt.png" ></a>   
        </div>
        <div class="floating-box">
             <a href="boyTshirtComponent"><img  class="icon hovered-icon " src="./Images/Tshirt.png" ></a>           
        </div>
        <div class="floating-box">
             <a href="boyJeansComponent"><img  class="icon hovered-icon " src="./Images/jeans.png" ></a>           
        </div>
        <div class="floating-box">
             <a href="boyShortComponent"><img  class="icon hovered-icon " src="./Images/short.png" ></a>         
        </div>
        <div class="floating-box">
             <a href="boyTrousersComponent"><img  class="icon hovered-icon " src="./Images/trousers.png" ></a>       
        </div>
        <div class="floating-box">
             <a href="boySocksComponent"><img  class="icon hovered-icon " src="./Images/socks.png" ></a>
        </div>
        <div class="floating-box">
             <a href="boySaleComponent"><img  class="icon hovered-icon " src="./Images/hanger2.jpg" ></a>
        </div>
    </div>
</div>

@code {

}
