.icon {
    width: 100px;
    height: 100px;
    transition: all .2s ease-in-out;
    border: 3px solid #5eacee;
    border-radius: 25px;
}

.hovered-icon:hover {
    outline: none;
    transform: scale(1.1);
    cursor: pointer;
}

.border-group {
    border-radius: 25px;
    border: 1px solid #c7c2c2;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.floating-box {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
}
