<div class="container">
    <div class="row border-group ">
        <div class="floating-box">
            <h6><i>Мальчики</i></h6>
           <a href="catalogBoy"><img  class="icon hovered-icon " src="./Images/b1.png" ></a>
        </div>
        <div class="floating-box">
            <h6><i>Девочки</i></h6>
            <a href="catalogGirl"><img  class="icon hovered-icon " src="./Images/g1.png" ></a>   
        </div>
    </div>
</div>

@code {

}
