.floating-box {
    float: left;
    width: 300px;
    height: 380px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #c7c2c2;
    border-radius: 20px;
}
.icon {
    width: 280px;
    height: 300px;
    transition: all .2s ease-in-out;
    border: 3px solid #5eacee;
    border-radius: 25px;
}

.hovered-icon:hover {
    outline: none;
    transform: scale(1.1);
    cursor: pointer;
}


