@page "/boyHoodyComponent"
@using MongoDB.Driver

  <div class="floating-box text-center">
    <a href=""><img  class="icon hovered-icon " src="./Images/sh1.jpg" ></a>
   <div class="row pt-2">
 <label >@name</label>
   <label>@price</label>
   </div>
     </div>
 
  <div class="floating-box">1fhyrthurty</div>
  
  <div class="floating-box">1srthyrtyh</div>
  
  <div class="floating-box">1rtyrty</div>
  
  <div class="floating-box">1rtyrwty</div>
  
  <div class="floating-box">1rtyrtyrty</div>


@code {
    string name = "Шорты";
    string price = "599";

   
}
