<div class="container">
    <div class="row">
        <p class="italic text-center">Девочки</p>
    </div>
    <div class="row border-group  ">
        <div class="floating-box">
            <img src="./Images/dress.png" class="icon hovered-icon " />
        </div>
        <div class="floating-box">
            <img src="./Images/Tshirt.png" class="icon hovered-icon " />
        </div>
        <div class="floating-box">
            <img src="./Images/sweatshirt.png" class="icon hovered-icon " />
        </div>
        <div class="floating-box">
            <img src="./Images/skirt.png" class="icon hovered-icon " />
        </div>
        <div class="floating-box">
            <img src="./Images/shorts.png" class="icon hovered-icon " />
        </div>
        <div class="floating-box">
            <img src="./Images/jeans.png" class="icon hovered-icon " />
        </div>
        <div class="floating-box">
            <img src="./Images/socksg.png" class="icon hovered-icon " />
        </div>
         <div class="floating-box">
            <img src="./Images/hanger2.jpg" class="icon hovered-icon " />
        </div>
    </div>
</div>

@code {

}
