.general-image {
    width: 100px;
    height: 80px;
    margin-top: 0px;
}
.btn-top {
    background-color: #ffffff;
    color: black;
    border-radius: 25px;
    border: none;
    margin-top: 6px;
}

    .btn-top:focus {
        outline: none;
        transform: scale(1.1);
        cursor: pointer;
    }