@page "/adminAccount"
@attribute [Authorize(Roles = "Administrator")]


<AuthorizeView>
    <Authorized>
        <div class="row">
            <h4>Выберите действие:</h4>
        </div>
        <div class="col">
            <button type="button" @onclick="OnClick" class="buttonStyle">Добавление товара</button>

            <button type="button" @onclick="OnClick1" class="buttonStyle">Редактирование товара</button>

            <button type="button" @onclick="OnClick2" class="buttonStyle">Удаление товара</button>
        </div>
        <br />
        @if (addition)
        {
            <div class="row">
                <LoadingProduct />
            </div>
        }
        @if (editing)
        {
            <div class="row">
                <EditingProduct />
            </div>
        }
        @if (delete)
        {
            <div class="row">
                <DeletingProduct />
            </div>
        }
    </Authorized>
</AuthorizeView>



