@page "/catalogGirl"
@using MongoDB.Driver
@using System.Text.RegularExpressions

<div class="row">
   <p><a href="">Главная страница</a>> Каталог девочки</p>
</div>
<br/>
<div class="row text-center">
     <p><i>Каталог не загружен! Приносим свои извинения!</i></p>
</div>
