@page "/usAccount"
@attribute [Authorize(Roles = "Client")] 

<h5>Личный кабинет</h5>
<div class="form-group">
    <label>Логин/Имя: </label>
</div>
<div class="form-group">
    <label>E-mail:</label>
    <input type="text" />
</div>
<div class="form-group">
    <label>Номер телефона:</label>
    <input type="text" />
</div>
<button >Сохранить изменения</button> 
<NavLink href="basket"><button><i class="fa-solid fa-basket-shopping"></i> Корзина</button></NavLink>
<NavLink href="userShopping"><button><i class="fa-solid fa-bag-shopping"></i> Покупки</button></NavLink>

@code {
    
   
}
