@page "/usAccount"
@attribute [Authorize(Roles = "Client")]

<AuthorizeView>
    <Authorized>
        <div class="row text-center">
            <h4>Личный кабинет</h4>
            <div class="col-3"></div>
            <div class="col-6">
                <div class="floating-box">
                    <div class="form-group">
                        <label>E-mail: <i>@user.Email</i></label>
                    </div>
                    <div class="form-group">
                        <label>Логин/Имя: <i>@user.Login</i> </label>
                    </div>
                    <div class="form-group">
                        <label>Номер телефона: <i>@user.NumberPhone</i></label>

                        <div class="row">
                            <input type="text" @bind-value="numberPhone" placeholder="Изменить номер телефона" />

                            <button class="registerbtn" @onclick="ReplasePhoneUser">Сохранить</button>
                        </div>
                    </div>
                    <NavLink href="basket"><button class="registerbtn"><i class="fa-solid fa-basket-shopping"></i> Корзина</button></NavLink>
                    <NavLink href="userShopping"><button class="registerbtn"><i class="fa-solid fa-bag-shopping"></i> Покупки</button></NavLink>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }
    private string numberPhone;
    UserAccount user = new UserAccount();

    private async Task<UserAccount> GetAuthorizedUser()
    {
        var authState = await authenticationState;
        string userName = authState.User.Identity.Name;
        UserAccount authorizedUser = UserAccount.GetUserLogin(userName);
        return authorizedUser;
    }
     protected override void OnInitialized()
        {
            user = UserAccount.GetUserLogin(GetAuthorizedUser().GetAwaiter().GetResult().Login);

        }
    private void ReplasePhoneUser()
    {
        UserAccount.ReplaceUserToDataBase(user.Email, new UserAccount(user.Login, user.Email, user.Password, user.Role, numberPhone, user.busketUser, user.shoppingList));
        user = UserAccount.GetUserLogin(GetAuthorizedUser().GetAwaiter().GetResult().Login);
    }

}
