<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DefensiveProject</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView Roles="Administrator, Client">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                 <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                 <div class="nav-item px-3">
                    <NavLink class="nav-link" href="catalogBoy" >
                        <span class="oi oi-home" aria-hidden="true"></span> BoyCatalog
                    </NavLink>
                </div>
                 <div class="nav-item px-3">
                    <NavLink class="nav-link" href="catalogGirl" >
                        <span class="oi oi-home" aria-hidden="true"></span> GirlCatalog
                    </NavLink>
                </div>
                 <div class="nav-item px-3">
                    <NavLink class="nav-link" href="detailsItems" >
                        <span class="oi oi-home" aria-hidden="true"></span> DetailsItems
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="adminAccount">
                        <span class="oi oi-plus" aria-hidden="true"></span>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Client">
            <Authorized>
                 <div class="nav-item px-3">
            <NavLink class="nav-link" href="usAccount">
                <span class="oi oi-list-rich" aria-hidden="true"></span> usAccount
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="basket">
                <span class="oi oi-list-rich" aria-hidden="true"></span> usBasket
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userShopping">
                <span class="oi oi-list-rich" aria-hidden="true"></span> usShopping
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
